@import '../../../../style/mb-constants';


:host{
    display: flex;
    align-items: row;

    .year {
        display: flex;
        align-items: row;
        justify-content: flex-end;
        color: $font-30;
        font-weight: bold;
        font-size: $font-size-l;
        padding: 0 12px;
        padding-bottom: 5px;

        .current-year {
            padding-left: 6px;
            padding-right: 6px;
        }
    }

    .months {
        box-sizing: border-box;
        display: flex;
        align-items: row;
        justify-content: space-between;
        padding: 0 12px;
        padding-bottom: 5px;
        font-size: $font-size-m;
        color: $font-80;
        border-bottom: 1px solid $font-30; 

        .selected {
            font-weight: bold;
            color: $font-100;
        }
    }

    table{
        th {
            text-transform: uppercase;
            font-weight: bold;
            padding: 12px;
            color: $font-80;
        }
        tr {        
            height: 36px;
            td {
                color: $font-80;
                position: relative;
                width: 26px;
                height: 36px;
                text-align: center;
                vertical-align: middle;
        
                .content {
                    display: inline-block;
                    text-align: center;
                    width: 24px;
                    left: 25%;
                    top: 25%;

                    &.today {
                        font-weight: bold;
                        border-bottom: 1px solid $primary-color; 
                    }

                    &.selected-day {
                        font-weight: bold;
                        color: $background-color;
                        background: $primary-color;
                        border-radius: 50%;
                        line-height: 24px;    
                    }

                }
               
                &.event::after {
                    position: absolute;
                    display: inline-block;
                    top: 4px;
                    right: 8px;
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $marker;
                }
            }
        }
    }
}