<div> 
  <div class="year">
    <div (click)=changeYear(-1) class="clickable"> < </div>
    <div class="current-year"> {{selectedYear}} </div>
    <div (click)=changeYear(+1) class="clickable"> > </div>
  </div>
  <div class="months">
    <div *ngFor="let month of months | keyvalue" 
          (click)="changeMonth(month.key)"
          class="clickable"
          [class.selected]="month.key === selectedMonth">
          {{month.value}}
    </div>
  </div>
  <table>
      <tr>
          <th *ngFor="let weekday of days">{{weekday}}</th>
      </tr>
      <tr *ngFor="let week of weekdayArray">
        <td *ngFor="let day of week" 
            [ngClass] = "{'event': hasEvent(day), 'clickable': day != ''}"
            (click) = changeDay(day)>
          <div class="content" 
              [ngClass]="{'selected-day': day === selectedDay, 'today': isToday(day)}">
              {{day}}
          </div>
        </td>
      </tr>
  </table>
</div>