@import '../../../../style/mb-constants';


:host{
    display: flex;
    align-items: row;

    .calendar-main {
        width: 100%;
        padding: 12px;

    }

    .calendar-main__year {
        display: flex;
        align-items: row;
        justify-content: center;
        color: $font-30;
    }

.calendar-main__months {
    display: flex;
    align-items: row;
    justify-content: space-between;
    font-size: 14px;
    color: $font-50;
    
}



.calendar-main__days {
    display: flex;
    align-items: row;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: $font-80;   
}

.calendar-main__days__weeks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calendar-main__days__weeks__day {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    color: $font-50;
}


    .current-day {
        background-color: $primary-color;
        color:$background-color;
    }

    .selected-day {
        color: $background-color;
        width: 20px;
        height: 20px;
        background: $primary-color;
        text-align: center;
        border-radius: 50%;    
        line-height: 20px;
        box-sizing: content-box;   
    }
    

    .selected-month {
        font-weight: bold;
        color: $font-100;
    }

    .event::after {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            -moz-border-radius: 7.5px;
            -webkit-border-radius: 7.5px;
            border-radius: 5px;
            background-color: #69b6d5;
    }
}