@import '../../../../style/mb-constants';

:host{

    .calendar-detail-centered {
        text-align: center;
        position: relative;
        margin-bottom: 32px;

        .day {
            font-size: $font-size-xl;
            font-weight: bold;
        }
    
        .weekday{
            font-size: $font-size-l;
            text-transform: uppercase;
            width: 100%;
            position: absolute;
            bottom: 0;            
        }

    }

    .calendar-detail-left {
        text-align: left;

        h4 {
            font-size: $font-size-m;
            font-weight: bold;
            margin: 0;
        }

        ul {
            padding-left: 0;
            
            li {
                display: flex;
                font-size: $font-size-s;
                justify-content: space-between;       
            }
        }
    }
}