
<div class="calendar-detail__day">{{selectedDay}}</div>
<div [ngSwitch]="selectedWeekday">
    <span *ngSwitchCase="0">Sunday</span>
    <span *ngSwitchCase="1">Monday</span>
    <span *ngSwitchCase="2">Tuesday</span>
    <span *ngSwitchCase="3">Wednesday</span>
    <span *ngSwitchCase="4">Thursday</span>
    <span *ngSwitchCase="5">Friday</span>
    <span *ngSwitchCase="6">Saturday</span>
    <span *ngSwitchDefault>Sunday</span>
</div>
<div>
    <h4>Events:</h4>
    <div *ngFor="let event of eventsForDay">
        <div>
                {{event.description}}
                {{event.date}}
        </div>
    
        <span (click)=delete(event.id)>X</span>
    </div>

</div>
