@import '../../../../style/mb-constants';


div {
    display: flex;
    align-items: row;
    border-bottom: 1px solid $background-color;

    input {
        border: 0;
        outline: 0;
        background: transparent;
        color: $background-color;
        font-size: $font-size-m;
        padding-bottom: 6px;
        &::placeholder {
            color: $background-color;
            font-style: italic;
        }
        
    }
}