
$primary-color: rgb(235, 54, 79);
$font-100: #2D2E36;
$font-80: rgb(110, 110, 110);
$font-30: rgb(220, 220, 220);

$font-size-s: 10px;
$font-size-m: 12px;
$font-size-l: 20px;
$font-size-xl: 128px;

$background-color: white;
$wallpaper-color: rgb(229, 229, 229);
$marker: rgb(84, 30, 223);

$box-shadow: 1px 22px 44px -13px rgba(156,147,156,0.51);
