
$primary-color: rgb(68, 170, 92);

$font-100: #2D2E36;
$font-80: #50515E;
$font-50: #7E7E94;
$font-30: #9E9FBA;


$background-color: white;
$wallpaper-color: rgb(229, 229, 229);
$marker: blue;

$box-shadow: 1px 22px 44px -13px rgba(156,147,156,0.51);
