@import 'mb-constants.scss';

    body {
        font-family: 'Roboto', sans-serif;
        background-color: $wallpaper-color;
        margin: 0;
    }

    .clickable {
        &:hover {
            cursor: pointer;
        }
    }