<div class="calendar-container">
  <div class="calendar-container__left">
    <mb-calendar-detail 
      [selectedDay] = "selectedDay$ | async"
      [selectedWeekday] ="selectedWeekday$ | async"
      [eventsForDay] = "eventsForDay$ | async" >
    </mb-calendar-detail>
    <mb-calendar-entry-add
    [selectedDay] = "selectedDay$ | async" 
    [selectedMonth] = "selectedMonth$ | async" 
    [selectedYear] = "selectedYear$ | async">
    ></mb-calendar-entry-add>
  </div>
  <mb-calendar-main 
    class="calendar-container__right"
    [selectedDay] = "selectedDay$ | async" 
    [selectedMonth] = "selectedMonth$ | async" 
    [selectedYear] = "selectedYear$ | async"
    [eventsForMonth] = "eventsForMonth$ | async">
  </mb-calendar-main>
</div>
